@{ 
    ViewBag.Tittle = "Error";
}
<h2>Error</h2>
<p>
    we are sorry,we have an unexcepected error.
    <a href="javascript:history.go(-1)">Click here</a>
    if you would like to back and try that again
</p>